body {
    background-color: rgb(255, 216, 222);
    font-family:'Courier New', Courier, monospace;
    color: rgb(0, 77, 118)
}

h1 {
    font-weight: bold;
}

h2 {
    font-weight: bold;
}

img {
    border: 10px groove black;
    height: 20%;
    width: 20%;
}